
body{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px;
    font-size: 200%;
}

html { 
    background: url(img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.name-title{
    font-size: xx-large;
    margin-left: 1em;
}

.navbar{
    font-size: x-large;
    position: sticky;
    top:0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #3E708B;
    border-bottom: 0.3em;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    z-index: 100;
}

.nav-links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-links ul{
    list-style-type: none;
    display: inherit;
    padding:0;
}

.nav-links ul li {
    border: 2px solid black;
    border-right: none;
    display: inline-block;
}

.nav-links ul li:last-child{
    border-right: 2px solid black;
}

.nav-links ul li a{
    padding: 0 1em 0 1em;
    text-decoration: none !important;
    color: white;
}

footer{
    color: black;
    background: #5580a9;
    font-size: 65%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column
}

.img-with-text{
    margin: 3rem 2rem auto 1rem;
    text-align: justify;
}

 .img-caption{
    background-color: white; 
    width: 20%;
    text-align: center;
    float: left;
    padding: 2%;
    margin: auto 5% auto 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-caption img{
    border-radius: 10%;
    width: 100%;
}

.img-caption p{  
    border-top: 1px black solid;
    padding-top: inherit;
    margin-bottom: 0;
    font-size: 50%;
    color: black;
}

aside{
    margin: 1.5% 1% 1% 1%;
    float: right;
    border: 1px solid gray;
    border-radius: 10px;
}

.achievements{
    margin: 3rem 2rem auto 1rem;
    text-align: justify;
}

#wise-quote{
    font-style: italic;
    margin: 1% 2% auto 2%;
    clear:left;
}

#wise-quote-signature{
    margin: 1% 1% 1% 2%;
    border-top: solid white;
}

.rozvrh{
    margin: 5% auto;
    width:90%;
    min-width: 10%;
    background: white;
    border: black solid 1px;
    color: black;
    font-size: 70%;
    
}


.header-row th{
    background: gray;
}

tr{
    background: gray;
}

.header-row th:first-child{
    border-left: none;
}

td{
    text-align: center;
    margin: 1% 1% 1% 1%;
}


#lunch-cell{
    background: rgba(56, 189, 67, 0.4);
}

#lunch-cell:hover{
    background: white;;
}

.lecture{
    color: white;
    background: blue;
    border: black solid 3px;
    font-size: medium;
}

.lecture .show-on-hover{
    display:none;
}

.lecture:hover .show-on-hover{
    display:block;
}

.lecture:hover .hide-on-hover{
    display:none;
}

.exercise{
    color: white;
    background: red;
    border: black solid 3px;
    font-size: medium;
}


.exercise .show-on-hover{
    display:none;
}

.exercise:hover .show-on-hover{
    display:block;
}

.exercise:hover .hide-on-hover{
    display:none;
}

.free-time{
    border: none;
    background: green;
    font-size: medium;
}

.free-time:hover::after{
    content:"Voľný čas";
}

#easter-egg{
    font-family: 'Comic Sans MS', arial;
}

.icon{
    filter:grayscale();
    width:90px;

}

.icon:hover,:focus{
    transition-duration: 1s;
    filter:saturate(150%);
}

.icon-credits{
    font-size: 40%;
}

.two-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display:flex;
    flex-direction: column;
    margin: 5% 10% 10% 10%;
    width:40%;
    text-align: center;
    background: repeating-linear-gradient(-211deg, rgba(0,0,0,0.6), transparent 64%);
    border-radius: 1em;
    min-height: 10em;
    font-size: 70%;
}


.img-with-address{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-with-address img{
    border-radius:45%;
    width:25%;
    width: 142px;
    height: 133px;
}
.img-with-address address{
    padding-top:4%;
}

.column ul{
    padding: 0;
}

.column li{
    list-style-type: none;
}

