
body{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px;
    font-size: 200%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html { 
    background: url(img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.name-title{
    font-size: xx-large;
    margin-left: 1em;
    font-family: 'Be Vietnam', sans-serif;
}

.navbar{
    font-size: x-large;
    position: sticky;
    top:0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #3E708B;
    border-bottom: 0.3em;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 0, 0);
    z-index: 100;
    max-height: 3.4em;
}

.nav-links{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


.nav-links ul{
    list-style-type: none;
    display: inherit;
    padding:0;
}

.nav-links ul li {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
    background: linear-gradient(to right, #2c3e50, #bdc3c7);
    border-right: none;
    display: inline-block;
    margin: 0 1em 0 auto;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
}



.nav-links ul li a{
    padding: 0 1em 0 1em;
    text-decoration: none !important;
    color: white;
}

footer{
    bottom: 0;
    width:100%;
    color: black;
    background: #5580a9;
    font-size: 65%;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.timetable-footer{
   position:absolute;
}

.img-with-text{
    margin: 3rem 2rem auto 1rem;
    text-align: justify;
}

 .img-caption{
    background-color: white; 
    width: 20%;
    text-align: center;
    float: left;
    padding: 2%;
    margin: auto 5% auto 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-caption img{
    border-radius: 10%;
    width: 100%;
}

.img-caption p{  
    border-top: 1px black solid;
    padding-top: inherit;
    margin-bottom: 0;
    font-size: 50%;
    color: black;
}

aside{
    margin: 1.5% 1% 1% 1%;
    float: right;
    border: 1px solid gray;
    border-radius: 10px;
}

.achievements{
    margin: 3rem 2rem auto 1rem;
    text-align: justify;
}

#wise-quote{
    font-style: italic;
    margin: 1% 2% auto 2%;
    clear:left;
}

#wise-quote-signature{
    margin: 1% 1% 1% 2%;
    border-top: solid white;
}

.rozvrh{
    margin: 5% auto;
    width:90%;
    min-width: 10%;
    background: white;
    border: black solid 1px;
    color: black;
    font-size: 70%;
    table-layout: fixed;
}


.header-row th{
   background: gray;
}

tr{
    background: gray;
}

.header-row th:first-child{
    border-left: none;
}

td{
    text-align: center;
    margin: 1% 1% 1% 1%;
    font-weight: 600;
    font-size: large;
    font-style: oblique;
    color: black;
}


#lunch-cell{
    background: rgba(56, 189, 67, 0.4);
}

#lunch-cell:hover{
    background: white;;
}

.lecture{
    background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
    background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.lecture .show-on-hover{
    display:none;
}

.lecture:hover .show-on-hover{
    display:block;
}

.lecture:hover .hide-on-hover{
    display:none;
}

.exercise{
    background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
    background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);    
}


.exercise .show-on-hover{
    display:none;
}

.exercise:hover .show-on-hover{
    display:block;
}

.exercise:hover .hide-on-hover{
    display:none;
}

.free-time{
    color: white;
    background: linear-gradient(45deg, red ,blue);
}

.free-time:hover::after{
    content:"Voľný čas";
}

#easter-egg{
    font-family: 'Comic Sans MS', arial;
}

.skill-icon{
    width: 65px;
    height: 65px;
}

.icon{
    filter:grayscale();
    width:90px;
    transition: all 1s;
    margin-bottom: 1em;
}

.icon:hover,:focus{
    filter:saturate(150%);
    filter:drop-shadow(100%);
    transform: scale(1.1);
}

.icon-credits{
    font-size: 40%;
}

.two-columns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display:flex;
    flex-direction: column;
    margin: 5% 10% 10% 10%;
    width:40%;
    text-align: center;
    background: repeating-linear-gradient(-211deg, rgba(0,0,0,0.6), transparent 64%);
    border: 4px solid white;
    border-radius: 1em;
    min-height: 10em;
    font-size: 70%;
}


.img-with-address{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-with-address img{
    border-radius:3em;
    width:25%;
    width: 142px;
    height: 133px;
    filter: saturate(110%);
}
.img-with-address address{
    padding-top:4%;
}

.column ul{
    padding: 0;
}

.column li{
    list-style-type: none;
}


.column:last-child ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0.8em;
    margin-bottom:0;
}

.column:last-child ul li:first-child{
    margin-top: -1em;
}

.icon-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-row img{
    width: 30px;
}

.progress {
    height: 20px;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 1em;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  .progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
  .progress-striped .progress-bar,
  .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
  }
  .progress-bar-info {
    background-color: #5bc0de;
  }
  .progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  }